body {
    font-family: "Centra No2", Arial, sans-serif;
}

#main {
    margin: 0 auto;
    padding-top: 0.25rem;
    max-width: 760px;
    display: grid;
}

header h1 {
    text-align: center;
    margin: 0.25em 0;
    font-weight: 300;
    font-size: 2.85em;
}

footer {
    display: flex;
}


small {
    font-size: 1em;
}

.cta {
    color: #6666ff;
    border: 3px solid #6666ff;
    padding: 0.75em 1.5em;
    font-size: 110%;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}

p {
    font-size: 110%;
}

.cta:hover {
    background: #6666ff;
    color: #fff;
}

.cta-wrap {
    margin-top: 0.75em;
    margin-bottom: 1em;
    display: flex;
}

a {
    color: #333;
}
